html {
    background: transparent;
}

body {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    width: auto;
    font-size: 10pt;
}

a::after {
    content: attr(href);
    color: #000;
    font-size: 10pt;
    margin-left: 5px;
}

address a::after {
    display: none;
}

.media > div {
    float: none;
    width: auto;
    height: auto;
    background: transparent;
    border: none;
}
