---
layout: page
title: Drew DeVault's Blog
---

<h2>Recent Posts</h2>

<div class="media">
{% for post in site.posts %}
    <div class="post-stub">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <h3>{{ post.date | date_to_string }}</h3>
        <p>{{ post.excerpt }}</p>
    </div>
{% endfor %}
</div>
