---
layout: base
---
<div class="row">
    <div class="col-md-7">
        <h1>
            {{ page.title }}
        </h1>
        <hr />
        {{ content }}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-37292778-1");
              pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </div>
    <div class="col-md-3 col-md-offset-2 sidebar text-left">
        {% if page.url != '/index.html' %}
        <p>
            {% if page.date %}Published {{ page.date | date_to_string }}{% endif %}
        </p>
        <p>
            for <a href="/">Drew DeVault's blog</a>
        </p>
        <h3>Other Recent Posts</h3>
        {% for post in site.posts limit: 3 %}
            <div class="post-stub">
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h5>
                <h5>{{ post.date | date_to_string }}</h5>
            </div>
        {% endfor %}
        {% else %}
        <p>I write software. Occasionally, I will compose a post for this blog.</p>
        <p>
            <a href="https://github.com/SirCmpwn">github.com/SirCmpwn</a>
        </p>
        <p>
            <a href="https://twitter.com/sircmpwn">twitter.com/sircmpwn</a>
        </p>
        <p>
            <a href="mailto:sir@cmpwn.com">sir@cmpwn.com</a>
        </p>
        <p>
            <a href="/publickey.txt">Public key: F4EA1B88</a>
        </p>
        {% endif %}
        <h3>My Work</h3>
        <p>
            Lots of open source projects &mdash;
            <a href="https://github.com/SirCmpwn">Github</a>.
            <br />
            A few interesting ones:
        </p>
        <div class="post-stub">
            <h4><a href="http://www.knightos.org">KnightOS</a></h4>
            <h5>Operating system for calculators</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/TrueCraft">TrueCraft</a></h4>
            <h5>Open source Minecraft server</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/RedditSharp">RedditSharp</a></h4>
            <h5>.NET library for talking to Reddit</h5>
        </div>
        <div class="post-stub">
            <h4><a href="http://www.kerbalstuff.com">Kerbal Stuff</a></h4>
            <h5>Hosts Kerbal Space Program mods</h5>
        </div>
        <div class="post-stub">
            <h4><a href="https://github.com/SirCmpwn/hooks">Hooks</a></h4>
            <h5>Receives and acts on Github hooks</h5>
        </div>
        <h3>License</h3>
        <p>This site and all its contents are <a href="http://opensource.org/licenses/MIT">MIT licensed</a>.</p>
        <div class="spacer" style="margin-top: 50px;"></div>
    </div>
</div>
